* {
    padding: 0;
    margin: 0;
}

body {
    background: #C36A2D;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main h1 {
    color: black;
    margin-top: 10px;
}

.Game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 13px;
    /* margin-top: 15px; */
}

.box {
    height: 16vmin;
    width: 16vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 5px black;
    font-size: 8vmin;
    color: #C13131;
    background-color: #FFE3CA;
    margin-top: -20px;
}

.reset-btn {
    padding: 1rem;
    width: 15vmin;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 3vmin;
    margin-top: -20px;

}

.new-btn {
    padding: 1rem;
    width: 25vmin;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 3vmin;
}

#msg {
    color: #FFE3CA;
    font-size: 3rem;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.hide{
    display: none;
}